<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrativa</title>

    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <!-- custom css -->
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-white py-4 fixed-top shadow">
    <div class="container">
        <a class="navbar-brand d-flex justify-content-between align-items-center order-lg-0" href="index.html">
            <img src="images/shopping-bag-icon.png" alt="site icon">
            <span class="text-uppercase fw-lighter ms-2">XMarket</span>
        </a>


        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse order-lg-1" id="navMenu">
            <ul class="navbar-nav mx-auto text-center">
                <li class="nav-item px-2 py-2" style="display: flex;">
                    <a class="nav-link text-uppercase text-dark" style="margin:auto;" href="#header">home</a>
                </li>
                <li class="nav-item px-2 py-2">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Cadastrar
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Produto</a></li>
                            <li><a class="dropdown-item" href="#">Marca</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item px-2 py-2">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Relatorios
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" id="acessarModal">Relatorio 1</a></li>
                            <li><a class="dropdown-item" href="#">Relatorio 2</a></li>
                            <li><a class="dropdown-item" href="#">Relatorio 3</a></li>
                            <li><a class="dropdown-item" href="#">Relatorio 4</a></li>
                        </ul>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cadastrar</button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>
</div>

<section id="collection" class="py-5" >
    <div class="container">
        <div class="row g-0 " >
            <div class="collection-list mt-4 row gx-0 gy-3" >
                <div class="text-center">

                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<div id="modal" >
    <h3 id="fecharModal">X</h3>
    <form action="" method="get">
        <label>Filtrar por data:</label>
        <span> De </span>
        <input name="filtrar" id="filtrar" type="date"><br>
        <span> Até </span>
        <input name="filtrar" id="filtrar1" type="date">
        <input type="submit" value="Filtrar">
    </form>
    <button type="button" ><a th:href="@{/admin/pdf/jr1(code='01', acao ='v')}" style="text-decoration: none; color: black;">Gerar Relatorio</a></button>
</div>


<script src="js/modal.js"></script>
</body>
</html>